<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wfj.pay.mapper.PayRefundWeChatOfNotifyInfoMapper">
    <insert id="insert" parameterType="PayRefundWeChatOfNotifyInfoPO">
        INSERT
        INTO
        PAY_WECHATOF_RF_NOTIFY_INFO
        VALUES(S_PAY_WECHATOF_RF_NOTIFY_INFO.NEXTVAL, #{out_trade_no, jdbcType=VARCHAR},
        #{out_refund_no, jdbcType=VARCHAR}, #{refund_id, jdbcType=VARCHAR},
        #{refundFee}, #{result_code, jdbcType=VARCHAR},
        #{appid, jdbcType=VARCHAR}, #{refundDate, jdbcType=DATE})
    </insert>
</mapper>
